# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_df = pd.read_csv("../WeatherPy/weather_data.csv")
weather_df.head()

,City,Lat,Lon,Max Temp (f),Humidity,Cloudiness,Wind Speed,Country,Date
0,Barrow,71.2906,-156.7887,46.42,76,75,12.66,US,1655440622
1,Kiryat Gat,31.6100,34.7642,77.81,100,0,7.92,IL,1655440848
2,Hobart,-42.8794,147.3294,52.27,87,99,1.99,AU,1655440642
3,Kumba,4.6363,9.4469,70.34,99,100,1.39,CM,1655440851
4,Bredasdorp,-34.5322,20.0403,50.23,45,64,6.08,ZA,1655440851

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

locations = weather_df[["Lat", "Lon"]]
humidity = weather_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=100)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
weather_df2 = weather_df[(weather_df["Max Temp (f)"] >70) & (weather_df["Max Temp (f)"] <80) & (weather_df["Wind Speed"] <10) & (weather_df["Cloudiness"] ==0)]
weather_df2 = weather_df2.dropna()
weather_df2

,City,Lat,Lon,Max Temp (f),Humidity,Cloudiness,Wind Speed,Country,Date
1,Kiryat Gat,31.6100,34.7642,77.81,100,0,7.92,IL,1655440848
16,Cayenne,4.9333,-52.3333,74.08,1,0,2.30,GF,1655440861
61,Jamestown,42.0970,-79.2353,76.71,89,0,9.22,US,1655440816
82,Hilo,19.7297,-155.0900,78.53,77,0,5.75,US,1655440342
94,Faya,18.3851,42.4509,70.32,20,0,9.73,SA,1655440927
164,Marsá Maţrūḩ,31.3525,27.2453,74.84,75,0,8.59,EG,1655440990
206,Florence,43.7667,11.2500,74.25,69,0,2.30,IT,1655441025
252,Nālūt,30.3333,10.8500,71.35,38,0,9.64,LY,1655441065
317,Tataouine,32.9297,10.4518,73.45,47,0,2.86,TN,1655441130
319,Avilés,43.5547,-5.9248,70.18,83,0,2.30,ES,1655441131
342,Zharkent,44.1628,80.0000,78.30,37,0,5.66,KZ,1655441153
495,Naples,40.8333,14.2500,73.74,81,0,1.14,IT,1655441044
497,Broome,42.2506,-75.8330,71.71,94,0,5.75,US,1655441292
534,Owosso,42.9978,-84.1766,75.65,56,0,4.61,US,1655441326
556,Kokomo,40.4864,-86.1336,79.21,66,0,8.05,US,1655441100
563,Sirte,31.2089,16.5887,73.71,78,0,5.55,LY,1655441352

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure